/* .App {
  text-align: center;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a192f;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#8892b0;
}
.myName{
  color: #0799dd;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title-header{
  width: 40%;
  z-index: 1;
}
.img{
  border-radius: 50%;
  box-shadow: 0 0 15px white;
  z-index: 1;
}
.btn-header{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  padding: 15px;
  color: #0799dd;
  border: 2px solid #0799dd;
  border-radius: 5px;
  background-color: #0799dd00;
  cursor: pointer;
}
.btn-header:hover{
  box-shadow: 0 0 10px whitesmoke;
  color: whitesmoke
}
.navbar{
  display: inline-block;
  position: fixed;
  top: 0;
  color: #ffffff;
  background-color: #0a192f8c;
  width: 100%;
}
.navbar li:hover{
  color: #0799dd;
  cursor: pointer;
  border-bottom: 2px solid #8892b0;
  transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1);

}
.navbar li{
  display: inline-block;
  margin: 30px;
  
}
/* .navbar li:first-child{
  float: left;
  color: #0799dd;
} */
.about{
  background-color: #3a5379;
min-height: 100vh;
}
.footer{
  background-color: darkcyan;
  min-height: 100vh;
}

.circl{
  width:450px;
  height: 450px;
  background-color: ;
  position: absolute;
  top: 20%;
  left: 15%;
  border-radius: 50%;
  box-shadow: 0 0 15px whitesmoke;
  animation-name: circl;
  animation: circl 8s infinite;

}
@keyframes circl {
  0%   {background-color:#7ed5fd; left:0px; top:0px;}
  /* 25%  {background-color:yellow; left:200px; top:0px;} */
  50%  {background-color:rgb(157, 255, 255); left:200px; top:200px;}
  /* 75%  {background-color:green; left:0px; top:200px;} */
  100% {background-color:#77d4ff; left:0px; top:0px;}
}